input {
  border-radius: 20px;
  width: 350.33px;
}
.custom-password-input {
  border-radius: 20px;
  width: 350.33px;
}
button {
  border-radius: 20px;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  border-radius: 20px;
}

.rounded-button {
  border-radius: 20px; /* Điều chỉnh giá trị theo ý muốn */
}

:host >>> .p-button {
  border-radius: 20px;
  margin: 0px 20px;
}

.b-action {
  margin: 0px 20px;
  padding: 20px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
