body {
  display: flex;
  justify-content: center;
  transform: translate(21%, 30px);
  background-color: #e8e8e8;
  width: 80%;
  margin-top: 50px;
}

body p-table ::ng-deep .p-datatable {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 20px;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  .p-datatable-header {
    background-color: transparent;
    .col-4 {
      position: relative;
      p-button {
        position: absolute;
        left: auto;
        right: 10px;

        button {
          border-radius: 10px;
          height: 40px;
          font-family: Quickstand, sans-serif;
          font-weight: 500;
          font-size: 16px;
        }

        button:hover {
          background-color: #2196f3;
          font-weight: 600;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          color: white;
        }
      }

      input {
        border-radius: 10px;
        border: 1px solid #ced4da;
        height: 40px;
        padding-left: 30px;
      }
    }
  }

  .p-paginator {
    background-color: transparent;

    ul {
      padding-left: 0 !important;
    }
  }
}
